.search {
  display: flex;
  gap: 20px;
}

.search__input,
.search__button {
  outline: none;
  border-width: 1px;
  border-radius: 4px;
  font-size: 18px;
}

.search__input {
  padding: 5px 10px;
  height: 40px;
  width: 100%;
}

.search__button {
  cursor: pointer;
  padding: 0 20px;
  font-weight: 700;
  transition:
    color 0.5s ease,
    background-color 0.5s ease,
    border-color 0.5s ease;
}

.search__button:hover:not(:disabled) {
  color: white;
  border-color: transparent;
  background-color: blue;
}
